<!DOCTYPE html>
<html>
<head>
    <title>Crystal Ball Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.7.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">Welcome to Crystal Ball</h1>
        <p class="subtitle">Ask your questions and get mystical answers</p>
        <a class="cta-button btn btn-primary" href="/ask">Go to Form</a>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.7.2/js/bootstrap.min.js"></script>
</body>
</html>
