{% extends 'base.html' %}

{% block title %}🧪🔬CrystalBall🧪🔬{% endblock %}

{% block content %}
    <h1>🧙‍♀️🔮 CrystalBall 🌙✨</h1>

    <h2>🌟</h2>

    <p>CrystalBall is a versatile tool that utilizes the incredible capabilities of Hugging Face's Transformers library for question-answering tasks. With CrystalBall, you can unlock the secrets hidden within your documents and obtain answers to your burning questions.</p>

    <div class="container">
        <a class="btn btn-info" href="{{ url_for('ask') }}">Go to Form</a>
    </div>
{% endblock %}
